
.empty-ticket-body-rest {
    display: inline-block;
    min-width: 500px;
    margin: 5px;
    position: relative;
    padding:0px;
}

.empty-plus-btn-rest{
    cursor: pointer;
}

.ticket-modify-rest{
    color:lightskyblue;
}

.ticket-del-rest{
    color:lightcoral;
}