<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="js/accommodation.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/accommodation.css">

</head>
<body>
<!--숙소-->
<div class="container-md container-fluid">

    <div class="row row-cols-1  row-cols-sm-2 row-cols-md-5 justify-content-start " id="ticket-container">


        <!--빈티켓 모양으로 만들 예정-->
        <div class="empty-ticket-body-accommodation col-3 ">
            <div class="row margin-fit">
                <!--티켓 왼쪽 : 메인 공간-->
                <div class="ticket-main empty-main col-8 ">
                    <div class="ticket-header empty-header ticket-main-header ">
                        <i class="fas fa-bed"></i>  Accommodation voucher
                    </div>
                    <div class="ticket-content ">
                        <div class="empty-plus-btn-accomodation">
                            <i class="fas fa-plus empty-plus "></i>
                        </div>
                    </div>
                </div>
                <!--티켓 오른쪽 : 메모공간-->
                <div class="ticket-main  empty-main col-4 me-3">
                    <div class="ticket-header empty-header "><i class="fas fa-pencil-alt"></i>  My Memo</div>
                </div>
            </div>
        </div>






    </div>



</div>

</body>
</html>