<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!-- 메모들 총 저장공간-->
<div class="container-fluid">
    <!--기본 템플릿 메모 : grid 이용해서 ui 개선-->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 justify-content-start">
        <div class="postit-body col-2  main-point-color">
            <button class="postit-plus postit-btn">
                <i class="fas fa-plus"></i>
            </button>
            <h2 class="postit-title">기본 메모</h2>
            <button class="postit-exit postit-btn">
                <i class="fas fa-times"></i>
            </button>
            <div class="content">
                <!--한국판 로렘입숨 : 별헤는밤-->
                같이 슬퍼하는 나의 북간도에 마디씩 별 이름과, 토끼, 거외다. 된 한 노새,
                사람들의 시와 까닭이요, 이웃 그리고 봅니다. 쉬이 사람들의 멀리 걱정도
                오는 이름자 별 별빛이 계십니다. 시와 당신은 시인의 아이들의 밤이 남은
                비둘기, 까닭입니다. 무덤 벌써 노새, 동경과 까닭입니다.
            </div>
        </div>
        <div class="postit-body col-2 main-point-color">
            <button class="postit-plus postit-btn">
                <i class="fas fa-plus"></i>
            </button>
            <h2 class="postit-title">기본 메모</h2>
            <button class="postit-exit postit-btn">
                <i class="fas fa-times"></i>
            </button>
            <div class="content">
                <!--한국판 로렘입숨 : 별헤는밤-->
                같이 슬퍼하는 나의 북간도에 마디씩 별 이름과, 토끼, 거외다. 된 한 노새,
                사람들의 시와 까닭이요, 이웃 그리고 봅니다. 쉬이 사람들의 멀리 걱정도
                오는 이름자 별 별빛이 계십니다. 시와 당신은 시인의 아이들의 밤이 남은
                비둘기, 까닭입니다. 무덤 벌써 노새, 동경과 까닭입니다.
            </div>
        </div>
        <div class="postit-body col-2 main-point-color">
            <button class="postit-plus postit-btn">
                <i class="fas fa-plus"></i>
            </button>
            <h2 class="postit-title">기본 메모</h2>
            <button class="postit-exit postit-btn">
                <i class="fas fa-times"></i>
            </button>
            <div class="content">
                <!--한국판 로렘입숨 : 별헤는밤-->
                같이 슬퍼하는 나의 북간도에 마디씩 별 이름과, 토끼, 거외다. 된 한 노새,
                사람들의 시와 까닭이요, 이웃 그리고 봅니다. 쉬이 사람들의 멀리 걱정도
                오는 이름자 별 별빛이 계십니다. 시와 당신은 시인의 아이들의 밤이 남은
                비둘기, 까닭입니다. 무덤 벌써 노새, 동경과 까닭입니다.
            </div>
        </div>
        <div class="postit-body col-2 main-point-color">
            <button class="postit-plus postit-btn">
                <i class="fas fa-plus"></i>
            </button>
            <h2 class="postit-title">기본 메모</h2>
            <button class="postit-exit postit-btn">
                <i class="fas fa-times"></i>
            </button>
            <div class="content">
                <!--한국판 로렘입숨 : 별헤는밤-->
                같이 슬퍼하는 나의 북간도에 마디씩 별 이름과, 토끼, 거외다. 된 한 노새,
                사람들의 시와 까닭이요, 이웃 그리고 봅니다. 쉬이 사람들의 멀리 걱정도
                오는 이름자 별 별빛이 계십니다. 시와 당신은 시인의 아이들의 밤이 남은
                비둘기, 까닭입니다. 무덤 벌써 노새, 동경과 까닭입니다.
            </div>
        </div>
        <div class="postit-body col-2  main-point-color">
            <button class="postit-plus postit-btn">
                <i class="fas fa-plus"></i>
            </button>
            <h2 class="postit-title">기본 메모</h2>
            <button class="postit-exit postit-btn">
                <i class="fas fa-times"></i>
            </button>
            <div class="content">
                <!--한국판 로렘입숨 : 별헤는밤-->
                같이 슬퍼하는 나의 북간도에 마디씩 별 이름과, 토끼, 거외다. 된 한 노새,
                사람들의 시와 까닭이요, 이웃 그리고 봅니다. 쉬이 사람들의 멀리 걱정도
                오는 이름자 별 별빛이 계십니다. 시와 당신은 시인의 아이들의 밤이 남은
                비둘기, 까닭입니다. 무덤 벌써 노새, 동경과 까닭입니다.
            </div>
        </div>
        <div class="postit-body col-2 main-point-color">
            <button class="postit-plus postit-btn">
                <i class="fas fa-plus"></i>
            </button>
            <h2 class="postit-title">기본 메모</h2>
            <button class="postit-exit postit-btn">
                <i class="fas fa-times"></i>
            </button>
            <div class="content">
                <!--한국판 로렘입숨 : 별헤는밤-->
                같이 슬퍼하는 나의 북간도에 마디씩 별 이름과, 토끼, 거외다. 된 한 노새,
                사람들의 시와 까닭이요, 이웃 그리고 봅니다. 쉬이 사람들의 멀리 걱정도
                오는 이름자 별 별빛이 계십니다. 시와 당신은 시인의 아이들의 밤이 남은
                비둘기, 까닭입니다. 무덤 벌써 노새, 동경과 까닭입니다.
            </div>
        </div>
        <div class="postit-body col-2 main-point-color">
            <button class="postit-plus postit-btn">
                <i class="fas fa-plus"></i>
            </button>
            <h2 class="postit-title">기본 메모</h2>
            <button class="postit-exit postit-btn">
                <i class="fas fa-times"></i>
            </button>
            <div class="content">
                <!--한국판 로렘입숨 : 별헤는밤-->
                같이 슬퍼하는 나의 북간도에 마디씩 별 이름과, 토끼, 거외다. 된 한 노새,
                사람들의 시와 까닭이요, 이웃 그리고 봅니다. 쉬이 사람들의 멀리 걱정도
                오는 이름자 별 별빛이 계십니다. 시와 당신은 시인의 아이들의 밤이 남은
                비둘기, 까닭입니다. 무덤 벌써 노새, 동경과 까닭입니다.
            </div>
        </div>



    </div>


</div>

</body>
</html>